
body {
background-image: url("https://i.ibb.co/4gHfgv8/wallpaperbetter.jpg");
}


h1{
	color: white;
font-size: 45px;
border: 1px solid white;
text-align: center;
}

h2 {
box-sizing: border-box;
border-color: white;


}

p {
    color: blanchedalmond;
    font-size: 30px;
    font-style: italic;
    border: 2px;
    border-color: aliceblue;
  


}

